body
{
	font-family: 'Trebuchet MS', verdana, helvetica;
	font-size: 10pt;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
h1, h2, h3, h4 
{
	font-family: 'Trebuchet MS', Verdana, Helvetica;
	font-weight: bold;
	letter-spacing: -1pt;
}
h1 
{ 
	font-size: 18pt;
}
h2 
{ 
	font-size: 16pt;
}
h3 
{ 
	font-size: 14pt;
}
h4 
{ 
	font-size: 12pt;
}
a {
	color: SteelBlue;
	text-decoration: none;
}
a:hover
{
	color: #2D5D79;
	text-decoration: underline;
}
p
{
	font-family: 'Trebuchet MS', Verdana, Helvetica;
	font-size: 10pt;
	line-height: 16pt;
}
#cfixheader
{
	background-color: #2D5D78;
	color: white;
	font-size: 10pt;
	text-align: center;
}
#cfixfooter
{
	color: gray;
	font-size: 8pt;
	text-align: center;
}
.chapter 
{
	margin-left: 10px;
	margin-right: 10px;
}
.book 
{
	margin-left: 10px;
	margin-right: 10px;
}
.titlepage
{
	margin-left: 10px;
	margin-right: 10px;
}
.section
{
	margin-left: 10px;
	margin-right: 10px;
}
p
{
	margin-left: 30px;
	margin-right: 10px;
}
td {
	font-size: 10pt;
}
.programlisting
{
	font-size: 9pt;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #f5f5f5;
	padding: 5px;
	border: 1px coral solid;
	border-color: #2D5D78;
	border-width: thin;
}
.figure-contents
{
	text-align: center;
}
.table table 
{
	border-collapse: collapse;
	margin-left: 20px;
}

.table th 
{
	padding: 0 0.5em;
	text-align: left;
	font-size: 10pt;
}

.table td 
{
	border-bottom: 1px solid #CCC;
	padding: 4 0.5em;
}