#head	
{ 
	background-color: #0C8E3E;
	width: 800px;
	height: 130px;
	margin: 0 auto;
}
#subhead	
{ 
	background-image: url(headsep.png);
	width: 800px;
	height: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}
#main {
	position: relative;
	width: 800px;
	margin: 0 auto;
	text-align: left;
}
#main br {
	clear: both;
}
#content	
{ 
	background-color: white;
	position:relative;
	margin: 0 auto;
	width: 580px;
	padding: 10px;
	float: left;
}			
#menu
{ 
	width: 190px;
	float: left;
	margin-left: 10px;
}			
#logo
{
	position:relative;
}
#submenu
{
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

#submenuheader
{
	background-color: #4997C4;
	color: white;
	font-family: 'Trebuchet MS', Verdana, Helvetica;
	font-weight: bold;
	padding-left: 10px;
	height: 24px;
	line-height: 24px;
}
#submenu ul
{
	list-style: none;
	margin: 0;
	padding: 5px 0px 5px 10px;
}
#submenu a
{
	font-family: 'Trebuchet MS', Verdana, Helvetica;
	font-size:10pt;
	line-height: 18pt;
	color: #2D5D79;
}
		


html, body
{ 
	background-color:#2D5D78;
	margin: 20px;
	
	font-family: 'Trebuchet MS', verdana, helvetica;
	font-size: 10pt;
	
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: 'Trebuchet MS', Verdana, Helvetica;
	font-weight: bold;
}
h1 
{ 
	font-size: 16pt;
}
h2 
{ 
	font-size: 14pt;
}
h3 
{ 
	font-size: 12pt;
}
h4 
{ 
	font-size: 10pt;
}
a
{
	color: #2D5D79;
	text-decoration: none;
}
a:hover
{
	color: #2D5D79;
	text-decoration: underline;
}

p
{
	font-family: 'Trebuchet MS', Verdana, Helvetica;
	font-size: 10pt;
	line-height: 16pt;
}

#cfixheader
{
	background-color: #2D5D78;
	color: white;
	font-size: 10pt;
	text-align: center;
}
#cfixfooter
{
	color: gray;
	font-size: 8pt;
	text-align: center;
}

td {
	font-size: 10pt;
}
.programlisting
{
	font-size: 9pt;
	margin-left: 30px;
	margin-right: 30px;
	background-color: Gainsboro;
	padding: 5px;
}

.footer
{
	margin-top: 50px;
	font-family: 'Trebuchet MS', Verdana, Helvetica;
	font-size: 8pt;
	text-align: center;
}